@{
    Layout = "~/Pages/Layout/BasicLayout.cshtml";

}

    <div class="container">
        <h2>ПРОИЗОШЛА ОШИБКА :(</h2>
                <p>
                   Приносим извинения за предоставленные неудобства! Попробуйте повторить вход в систему!
                </p>
    </div>