@using OnlineAuction.Entities
@using OnlineAuction.Dependencies

@{
    Layout = "~/Pages/Layout/BasicLayout.cshtml";

    if (IsPost)
    {
        if (Request["InputEmail"] != "")
        {

            string login = Request["InputEmail"];

            var userLogic = DependencyResolver.UserLogic;

            List<User> usersInDB = (List<User>)userLogic.GetAll();

            bool have = false;

            User user = new User();

            foreach (User lookUser in usersInDB)
            {
                if (lookUser.Email == login)
                {
                    have = true;
                    user = lookUser;
                    break;
                }
            }

            if (!have)
            {
                <div class="alert alert-danger" role="alert">
                    Неверный адрес электронной почты!
                </div>
            }

            else
            {

                int userID = user.Id;
                <div class="alert alert-info" role="alert">
                    Ваш пароль - @user.Password! Вернитесь на страницу регистрации!
                </div>
            }
        }

        else
        {
            <div class="alert alert-danger" role="alert">
                Введите адрес электронной почты!
            </div>
        }

    }
}

<form method="post">
    <div class="container">

        <h2>Введите адрес электронной почты!</h2>

        <input name="InputEmail" type="text" class="col-sm-6">
        <br />
        <input name="GetPassword" type="submit" class="col-sm-4 col-form-label" value="Получить пароль" />

    </div>
</form>
