
﻿@using System.Text.RegularExpressions
@using OnlineAuction.Entities
@using OnlineAuction.Dependencies

@{ Layout = "~/Pages/Layout/BasicLayout.cshtml";

                var dateNow = DateTime.Now.ToString("yyyy-MM-dd");
                var dateMinimum = DateTime.Now.AddYears(-150).ToString("yyyy-MM-dd");

                var name = "";
                var surname = "";
                var birthday = "";
                var phoneNumber = "";
                var email = "";
                var password = "";

                if (IsPost)
                {

                    name = Request["LogInName"];
                    surname = Request["LogInSurname"];
                    birthday = Request["LogInDate"];
                    phoneNumber = Request["LogInPhone"];
                    email = Request["LogInMail"];
                    password = Request["LogInPassword"];


                    if (name != null && surname != null && birthday != null && phoneNumber != null && email != null && password != null)
                    {
                        var rx = @"[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z0-9]+";
                        var phrx = @"^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$";
                        if (!Regex.IsMatch(email, rx, RegexOptions.IgnoreCase))
                        {
    <div class="alert alert-danger" role="alert">
        неверный формат Email!
    </div> }
                        else if (!Regex.IsMatch(phoneNumber, phrx, RegexOptions.IgnoreCase))
                        {
    <div class="alert alert-danger" role="alert">
        неверный формат номера телефона!
    </div> }
                        else
                        {
                            var userLogic = DependencyResolver.UserLogic;

                            List<User> usersInDB = (List<User>)userLogic.GetAll();

                            bool have = false;

                            foreach (User lookUser in usersInDB)
                            {
                                if (lookUser.Email == email)
                                {
                                    have = true;
                                    break;
                                }
                            }

                            if (!have)
                            {
                                User user = new User();
                                user.Name = name;
                                user.SurName = surname;
                                user.PhoneNumber = phoneNumber;
                                user.Password = password;
                                user.Email = email;
                                DateTime fixedCreateDate = DateTime.Parse(birthday);
                                user.DateOfBirth = fixedCreateDate;


                                int newId = userLogic.Add(user);

                                if (newId != 0)
                                {

                                    Response.Redirect("/");
                                }

                                else
                                {
    <div class="alert alert-danger" role="alert">
        НА СТРАНИЦУ ОШИБКИ!
    </div> }
                            }

                            else
                            {
    <div class="alert alert-danger" role="alert">
        Пользователь с данным адресом электронной почты уже существует! Попробуйте сбросить пароль!
    </div> }

                        }

                    }
                    else
                    {
    <div class="alert alert-danger" role="alert">
        Некоторые поля оказались пустыми, повторите ввод!
    </div> }


                } }

<form method="post">
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Welcome to the Online Auction!</h1>
            <p>Пожалуйста, зарегистрируйтесь</p>
            <div class="row">
                <div class="col-sm-6">

                    <h3>Зарегистрироваться</h3>

                    <div class="form-group row">
                        <label for="LogInName" class="col-sm-2 col-form-label">Имя</label>
                        <div class="col-sm-10">
                            <input name="LogInName" type="text" class="form-control">
                        </div>
                    </div>

                    <br />

                    <div class="form-group row">
                        <label for="LogInSurname" class="col-sm-2 col-form-label">Фамилия</label>
                        <div class="col-sm-10">
                            <input name="LogInSurname" type="text" class="form-control">
                        </div>
                    </div>

                    <br />

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Дата рождения</label>
                        <div class="col-sm-5">
                            <input name="LogInDate" type="date" max="@dateNow" min="@dateMinimum" />
                        </div>
                    </div>

                    <br />

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input name="LogInMail" type="text" class="form-control">
                        </div>
                    </div>

                    <br />

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Номер телефона</label>
                        <div class="col-sm-10">
                            <input name="LogInPhone" type="text" class="form-control">
                        </div>
                    </div>

                    <br />

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Пароль</label>
                        <div class="col-sm-10">
                            <input name="LogInPassword" type="text" class="form-control">
                        </div>
                    </div>

                    <br />

                    <input type="submit" class="btn btn-light" value="Регистрация" />

                    <input id="GetPSWButton" type="button" class="btn btn-light" value="Сбросить пароль" />
                </div>
            </div>
        </div>
    </div>
</form>

<script>$('#GetPSWButton').click(function () {
        location.href = '/Pages/GetPassword.cshtml';
    })</script>