@using OnlineAuction.Entities
@using OnlineAuction.Dependencies
@using OnlineAuction.PL.Models

@{
    Layout = "~/Pages/Layout/BasicLayout.cshtml";

    if (IsPost)
    {
        if (Request.Form["InButton"] != null)
        {
            if (Request["SignInLogin"] != "" && Request["SignInPassword"] != "")
            {
                string login = Request["SignInLogin"];

                string password = Request["SignInPassword"];

                if (Auth.IsAuth(login, password))
                {

                    var userLogic = DependencyResolver.UserLogic;

                    List<User> usersInDB = (List<User>)userLogic.GetAll();

                    User user = new User();
                    int userID = 0;

                    foreach (User lookUser in usersInDB)
                    {
                        if (lookUser.Email == login && lookUser.Password == password)
                        {
                            user = lookUser;
                            break;
                        }
                    }

                    userID = user.Id;

                    FormsAuthentication.SetAuthCookie(userID.ToString(), createPersistentCookie: true);

                    Response.Redirect("~/Pages/LogIn.cshtml?ID=" + userID);
                }


                else
                {
                    <div class="alert alert-danger" role="alert">
                        Неверный адрес электронной почты или пароль!
                    </div>
                }
            }


            else
            {
                <div class="alert alert-danger" role="alert">
                    Некоторые поля для входа оказались пустыми!
                </div>
            }
        }
        if (Request.Form["LogButton"] != null)
        {
            Response.Redirect("~/Pages/Account/Register.cshtml?ID=");
        }
    }

}



<form method="post">
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Добро пожаловать на книжный Онлайн Аукцион!</h1>
            <p>Пожалуйста, зарегистрируйтесь или войдите</p>
            <div class="row">

                <div class="col-sm-6">

                    <input name="LogButton" type="submit" value="Зарегистрироваться" />

                </div>

                <div class="col-sm-6">

                    <h3>Войти</h3>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input name="SignInLogin" type="text" class="form-control">
                        </div>
                    </div>

                    <br />

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Пароль</label>
                        <div class="col-sm-10">
                            <input name="SignInPassword" type="text" class="form-control">
                        </div>
                    </div>

                    <br />

                    <input name="InButton" type="submit" value="Вход" />

                </div>
            </div>
        </div>
    </div>
</form>

